<mat-toolbar color="primary">
  <span *ngIf="state.login">Login</span>
  <span *ngIf="state.register">Register</span>
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<p>{{ usuario | json }}</p>
<form [formGroup]="registerForm" novalidate>
  <mat-dialog-content>
    <div class="form-group">
      <label>Email address</label>
      <input type="email" formControlName="email" required />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" required />
      <label class="error">{{errorMessage}}</label>
      <label class="success">{{successMessage}}</label>
    </div>
    <button type="submit" (click)="state.login ? tryLogin(registerForm.value) : tryRegister(registerForm.value)">
      {{state.login ? 'Login' : 'Register'}}
    </button>
    <div>
      <a (click)="toggleLoginRegister()">
        <span *ngIf="state.login">Don't have an account? Click here to register</span>
        <span *ngIf="state.register">Already have an account? Click here to log in</span>
      </a>
    </div>
  </mat-dialog-content>
</form>
