<mat-toolbar>
  <span>
    <a routerLink="">
      <img src="../assets/images/logo.png" height=55 width=55>
    </a>
  </span>
  <span class="spacer"></span>
  <span>
    <a mat-button routerLink="" routerLinkActive="active">Top-Rated Beers</a>
  </span>
  <span>
    <a mat-button routerLink="favorites" routerLinkActive="active">My Favorite Beers</a>
  </span>
  <span>
    <a *ngIf="!user" mat-button (click)="openLoginDialog()">Login</a>
    <a *ngIf="user" mat-button (click)="doLogout()">Log Out</a>
  </span>
</mat-toolbar>